//
// XYO CC
//
// Copyright (c) 2020 Grigore Stefan <g_stefan@yahoo.com>
// Created by Grigore Stefan <g_stefan@yahoo.com>
//
// MIT License (MIT) <http://opensource.org/licenses/MIT>
//

#include "xyo-application-version--os-windows-rc.hpp"
#include "xyo-cc-version.hpp"
#include "xyo-cc-copyright.hpp"

1  ICON "xyo-cc.ico"

XYO_APPLICATION_VERSION_INFO(XYO_CC,"xyo-cc.exe","XYO CC")
